{% extends "account/base.html" %}

{% load socialaccount %}

{% block head_title %}Sign Up with Google{% endblock %}

{% block content %}
<div class="container border p-3 mb-3 bg-light text-dark">
  <h2>Sign Up with Google</h2>
</div>
<div class="container border p-3 mb-3 bg-light text-dark">
  <form method="post" class="signup-form">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit" class="btn btn-primary">Sign Up with Google</button>
  </form>

  <p>Already have an account? <a href="{% url 'account_login' %}">Log in</a></p>
</div>
{% endblock %}
