{% extends 'base.html' %}
{% load static %}
<script src="{% static 'js/scripts.js' %}"></script>


{% load bootstrap5 %}
{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript %}
{# Display django.contrib.messages as Bootstrap alerts #}
{% bootstrap_messages %}

{% load crispy_forms_tags %}

{% block content %}

<br>
<br>

<section class="container-section mb-4">
    <div class="container-fluid">
        <div class="row g-0">
            <div class="portfolio-box-caption">
                <h1>Books List</h1>
                <div class="container-fluid">
                    <div class="row border mt-3 bg-dark-green">
                        <h2>Search Form</h2>
                        <form method="get" action="{% url 'books_retrieve' %}">
                            {% csrf_token %}
                            <div class="row">
                                <div class="col-sm-6 col-xs-12">
                                    <div class="form-group mb-3">
                                        <label for="author_name" class="text-white">Author Name:</label>
                                        <input type="text" class="form-control" id="author_name" name="author_name" placeholder="Enter a value">
                                    </div>
                                </div>
                                <div class="col-sm-6 col-xs-12">
                                    <div class="form-group mb-3">
                                        <label for="title" class="text-white">Book Title:</label>
                                        <input type="text" class="form-control" id="title" name="title" placeholder="Enter a value">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-6 col-xs-12">
                                    <div class="form-group mb-3">
                                        <label for="category" class="text-white">Category:</label>
                                        <input type="text" class="form-control" id="category" name="category" placeholder="Enter a value">
                                    </div>
                                </div>
                                <div class="col-sm-6 col-xs-12">
                                    <div class="form-group mb-3">
                                        <label for="status" class="text-white">Status:</label>
                                        <select class="form-select" id="status" name="status">
                                            <option value="">Select Status</option>
                                            {% for status in unique_statuses %}
                                                <option value="{{ status }}">{{ status }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-3 col-xs-12">
                                    <div class="form-group mb-3">
                                        <label for="start_date" class="text-white">Start Date:</label>
                                        <input type="date" class="form-control" id="start_date" name="start_date">
                                    </div>
                                </div>
                                <div class="col-sm-3 col-xs-12">
                                    <div class="form-group mb-3">
                                        <label for="end_date" class="text-white">End Date:</label>
                                        <input type="date" class="form-control" id="end_date" name="end_date">
                                    </div>
                                </div>
                                <div class="col-sm-3 col-xs-12">
                                    <div class="form-group mb-3">
                                        <label for="start_page" class="text-white">Start Page Count:</label>
                                        <input type="number" class="form-control" id="start_page" name="start_page">
                                    </div>
                                </div>
                                <div class="col-sm-3 col-xs-12">
                                    <div class="form-group mb-3">
                                        <label for="end_page" class="text-white">End Page Count:</label>
                                        <input type="number" class="form-control" id="end_page" name="end_page">
                                    </div>
                                </div>
                            </div>
                            <button type="submit" class="btn btn-custom">Search</button>
                        </form>
                    </div>
                </div>
                <div class="container">
                    <h3>Filters values</h3>
                    <hr>
                    <h6>
                        {% if filters_values.0 %}
                            Authors: {{ filters_values.0 }}
                        {% endif %}
                        {% if filters_values.1 %}
                            {% if filters_values.0 %}
                                /
                            {% endif %}
                            Title: {{ filters_values.1 }}
                        {% endif %}
                    </h6>
                </div>

                <hr class="mb-4">
                {% for book in data %}
                <div class="row mb-4">
                    <div class="col-12">
                        <div class="card mb-4">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-md-9">
                                        <h2 class="card-title">{{ book.title }}</h2>
                                    </div>
                                    <div class="col-md-3 text-end">
                                        <h5 class="card-subtitle mb-3">ISBN: {{ book.isbn }}</h5>
                                    </div>
                                </div>
                                <div class="row mb-4">
                                    <div class="col-8">
                                        <p class="card-text">Authors: {{ book.authors }}</p>
                                    </div>
                                    <div class="col">
                                        <p class="card-text">Status: {{ book.status }}</p>
                                    </div>
                                </div>
                                <div class="row mb-4">
                                    <div class="col-8">
                                        <p class="card-text">Category: {{ book.categories }}</p>
                                    </div>
                                    <div class="col">
                                        <p class="card-text">N°Paginas: {{ book.pageCount }}</p>
                                    </div>
                                </div>
                            </div>
                            <div class="row mb-4">
                                <div class="col-2">
                                    <img src="{{ book.thumbnailUrl }}" class="card-img" style="width: 200px; height: 200px;" alt="Imagen no disponible">
                                </div>
                                <div class="col">
                                    <em class="card-text short-description">{{ book.shortDescription }}</em>
                                </div>
                            </div>
                            <div class="row d-flex justify-content-between">
                                <p class="card-text">
                                    <span class="py-2 px-3" style="background-color: darkgreen; color: white; font-weight: bold;">
                                        Fecha de publicación: {{ book.formattedPublishedDate }}
                                    </span>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <hr>
                {% endfor %}
            </div>
        </div>
    </div>
</section>



{% endblock %}