{% extends "base.html" %}
{% load static %}
{% load fontawesome_5 %}
{{ STATIC_URL }}
{% load crispy_forms_tags %}

{% block content %}
<section class="container-section mb-4">
    <div class="container-fluid">
        <div class="row g-0">
            <div class="portfolio-box-caption mb-4">
                <h2>User Profile</h2>
                <hr>
                <div class="container" style="background-color: #F7FBF5">
                    <div class="row">
                        <div class="col-6 pl-3">
                            <div class="row">
                                <div class="col-3">
                                    <p class="mt-3"><strong>Username:</strong></p>
                                </div>
                                <div class="col">
                                    <p class="mt-3">{{ user_profile.username }}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6 pl-3">
                            <div class="row">
                                <div class="col-3">
                                    <p class="mt-3"><strong>Name:</strong></p>
                                </div>
                                <div class="col">
                                    <p class="mt-3">{{ user_profile.full_name }}</p>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <img src="{{ user_profile.profile_image.url }}" class="rounded-circle mt-3" style="width: 200px; height: 200px;" alt="Image not available">
                        </div>
                    </div>
                    <hr>
                </div>
            </div>
        </div>
    </div>
</section>

<hr>
<section class="container-section mb-4">
    <div class="container-fluid">
        <div class="row g-0">
            <div class="portfolio-box-caption">
                <h2>Book Status</h2>
                <hr>
                <div class="div-for-want-to-read mt-4">
                    <h4>Books You Want to Read</h4>
                    <hr>
                    <div class="row card-row">
                        {% for status in want_to_read_statuses %}
                            <div class="col-12 col-md-6">
                                <div class="card mb-4">
                                    <div class="card-header">
                                        <img src="{{ status.book.thumbnailUrl }}" class="card-img" style="width: 200px; height: 200px;" alt="Image not available">
                                    </div>
                                    <div class="card-body">
                                        <h5 class="card-title">{{ status.book.title }}</h5>
                                        <hr>
                                         <div class="row">
                                            <div class="col">
                                                {% if status.comment_count > 0 %}
                                                    <p class="card-text">Comment Count: {{ status.comment_count }}</p>
                                                {% endif %}
                                            </div>
                                            <div class="col">
                                                {% if status.review_count > 0 %}
                                                    <p class="card-text">Number of Reviews: {{ status.review_count }}</p>
                                                {% endif %}
                                            </div>
                                            <div class="col">
                                                {% if status.average_rating %}
                                                    <p class="card-text">Average Rating: {{ status.average_rating|floatformat:1 }}</p>
                                                {% endif %}
                                            </div>
                                        </div>
                                        <hr>
                                        <p class="card-text">{{ status.book.shortDescription }}</p>
                                        <em class="card-text">{{ status.book.publishedDate }}</em>
                                        <div class="card-text">
                                            <a href="{% url 'get_book_details' status.book.isbn %}">See Details</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>

                <div class="div-for-currently-reading">
                    <h4>Books You Are Currently Reading</h4>
                    <hr>
                    <div class="row card-row mt-4">
                        {% for status in currently_reading_statuses %}
                            <div class="col-12 col-md-6">
                                <div class="card mb-4">
                                    <div class="card-header">
                                        <img src="{{ status.book.thumbnailUrl }}" class="card-img" style="width: 200px; height: 200px;" alt="Image not available">
                                    </div>
                                    <div class="card-body">
                                        <h5 class="card-title">{{ status.book.title }}</h5>
                                        <hr>
                                         <div class="row">
                                            <div class="col">
                                                {% if status.comment_count > 0 %}
                                                    <p class="card-text">Comment Count: {{ status.comment_count }}</p>
                                                {% endif %}
                                            </div>
                                            <div class="col">
                                                {% if status.review_count > 0 %}
                                                    <p class="card-text">Number of Reviews: {{ status.review_count }}</p>
                                                {% endif %}
                                            </div>
                                            <div class="col">
                                                {% if status.average_rating %}
                                                    <p class="card-text">Average Rating: {{ status.average_rating|floatformat:1 }}</p>
                                                {% endif %}
                                            </div>
                                        </div>
                                        <p class="card-text">{{ status.book.shortDescription }}</p>
                                        <em class="card-text">{{ status.book.publishedDate }}</em>
                                        <div class="card-text">
                                            <a href="{% url 'get_book_details' status.book.isbn %}">See Details</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<div class="container">
    <div id="bookModal" class="modal custom-modal">
        <div class="modal-content">
            <span class="close">&times;</span>
            <div id="bookDetails">
                <!-- Book details will be displayed here -->
            </div>
        </div>
    </div>
</div>

{% endblock %}